<main class="flex h-screen justify-between">
    <app-side></app-side>
    <div class="flex-1 pt-[5rem] px-10 bg-[#262628] text-white">
        <div class="flex px-4 py-3 max-w-md border-b mb-3">
            <input #searchInput type="text" placeholder="Search email"
                class="w-full outline-none text-sm bg-transparent" (input)="searchUser(searchInput.value)" />
        </div>

        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-600 whitespace-nowrap">
                <tr>
                    <th class="px-4 py-4 text-left text-xs font-semibold tracking-wider text-gray-100 uppercase">
                        Sl.No</th>
                    <th class="px-4 py-4 text-left text-xs font-semibold tracking-wider text-gray-100 uppercase">
                        Username</th>
                    <th class="px-4 py-4 text-left text-xs font-semibold tracking-wider text-gray-100 uppercase">
                        Email</th>
                    <th class="px-4 py-4 text-left text-xs font-semibold tracking-wider text-gray-100 uppercase">
                        Joined At</th>
                    <th class="px-4 py-4 text-left text-xs font-semibold tracking-wider text-gray-100 uppercase">
                        Action</th>
                </tr>
            </thead>

            <tbody class="divide-y divide-gray-200 bg-gray-400 whitespace-nowrap">
                <ng-container *ngIf="users.length > 0; else elseBlock">
                    <tr *ngFor="let user of users; let i = index">
                        <td class="px-4 py-4 text-sm text-gray-50">{{i+1}}</td>
                        <td class="px-4 py-4 text-sm text-gray-50">{{user.username}}</td>
                        <td class="px-4 py-4 text-sm text-gray-50">{{user.email}}</td>
                        <td class="px-4 py-4 text-sm text-gray-50">{{user.createdAt | date}}</td>
                        <td class="px-4 py-4 text-sm text-gray-50">
                            <button (click)="toggleStatus(user.email)" class="text-red-600">{{user.isBlocked ? 'Blocked'
                                :
                                'Active'}}</button>
                        </td>
                    </tr>
                </ng-container>
                <ng-template #elseBlock>
                    <tr>
                        <td colspan="5" class="text-center text-sm text-gray-50 py-4">
                            No users found
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>

</main>